= content_for :header do
  = render 'shared/header'

= render 'shared/topcolumns'

%section#normalpage
  %section#left
    %h2 About Us
    %article
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Suspendisse nisl urna, aliquam vitae vehicula eu, vulputate nec risus. 
        Suspendisse mollis, purus sed aliquam volutpat, ipsum elit euismod libero, ut lobortis orci risus nec sapien. 
        In magna magna, dictum quis auctor vel, gravida a lorem. Mauris elit sapien, ultricies ac congue at, facilisis 
        at metus. Maecenas imperdiet justo vel dolor eleifend id vulputate erat feugiat. 
        Praesent pharetra, mi blandit venenatis congue, arcu mi pulvinar lectus

      %h3 Heading Three
      %p
        At rutrum nunc ante in orci. Integer quis odio a massa dignissim sollicitudin eget quis leo. 
        Etiam a mi dolor, nec vestibulum erat. Aliquam eget elit nibh, at egestas massa. 
        Ut pharetra consequat justo, non hendrerit quam tristique pharetra. 
        Praesent est justo, congue commodo malesuada ac, fermentum ut odio. 
        Pellentesque sit amet eleifend nibh.
        %a{:href => "#"} Read More

    %h2 Latest From The Blog
    .clear

