%header#homeheader
  #slider
    .container
      %ul.slides
        %li
          .thumbholder
            %img{:src => asset_path("slideimg2.gif"), :width => "413", :height => "220", :alt => "First Image"}
          .txtholder
            %h2 You and Your rights!
            %p
              Lorema psum dolor sit amet, consectetur adipiscing elit.
              Integer egestas purus bibendum neque aliquam ut posuere elit semper.
              Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae.
        %li
          .thumbholder
            %img{:src => asset_path("slideimg1.gif"), :width => "413", :height => "220", :alt => "2nd Image"}
          .txtholder
            %h2 In the Court
            %p
              Lorema psum dolor sit amet, consectetur adipiscing elit.
              Integer egestas purus bibendum neque aliquam ut posuere elit semper.
              Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae.
        %li
          .thumbholder
            %img{:src => asset_path("slideimg3.gif"), :width => "413", :height => "220", :alt => "3rd Image"}
          .txtholder
            %h2 Police encounter
            %p
              Lorema psum dolor sit amet, consectetur adipiscing elit.
              Integer egestas purus bibendum neque aliquam ut posuere elit semper.
              Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae.
        %li
          .thumbholder
            %img{:src => asset_path("slideimg4.gif"), :width => "413", :height => "220", :alt => "4th Image"}
          .txtholder
            %h2 Taxes
            %p
              Lorema psum dolor sit amet, consectetur adipiscing elit.
              Integer egestas purus bibendum neque aliquam ut posuere elit semper.
              Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae.
      %ul.pagination
        %li
          %a{:href => "#"} 1
          %a{:href => "#"} 2

