%section#sidebar
  %h2 Testimonials
  %article.testimonials
    %blockquote
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer egestas purus bibendum neque aliquam ut posuere elit semper.
        Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae.
      %cite John Doe, New York City
    %blockquote
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Integer egestas purus bibendum neque aliquam ut posuere elit semper.
        Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae.
      %cite John Doe, New York City

