%section#contentwrap
  #contents
    #topcolumns
      .col
        %img.imgright{:src => "images/graph.png", :width => "61", :height => "40", :alt => "graph"}
        %h2 See the results
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Integer egestas purus bibendum neque aliquam ut posuere elit semper.
          Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae.
          Mauris elit sapien, ultricies ac congue at, facilisis at metus.
          Maecenas imperdiet justo vel dolor eleifend id vulputate erat feugiat.
          %a{:href => "#"} Read More
      .col
        %img.imgright{:src => "images/flowchart.png", :width => "62", :height => "39", :alt => "graph"}
        %h2 Easy to manage
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Integer egestas purus bibendum neque aliquam ut posuere elit semper.
          Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae.
          Mauris elit sapien, ultricies ac congue at, facilisis at metus.
          Maecenas imperdiet justo vel dolor eleifend id vulputate erat feugiat.
          %a{:href => "#"} Read More
      .col
        %img.imgright{:src => "images/ok.png", :width => "37", :height => "40", :alt => "graph"}
        %h2 Customer Support
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Integer egestas purus bibendum neque aliquam ut posuere elit semper.
          Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae.
          Mauris elit sapien, ultricies ac congue at, facilisis at metus.
          Maecenas imperdiet justo vel dolor eleifend id vulputate erat feugiat.
          %a{:href => "#"} Read More
      .clear
