<header id="homeheader">


<div id="slider">	
	<div class="container">
	<ul class="slides">
			<li>
			  <div class="thumbholder"><img src="images/slideimg2.gif" width="413" height="220" alt="First Image" /></div><div class="txtholder">
            <h2>Modern, Accessible and beautiful Websites and web applications</h2>
            <p>Lorema psum dolor sit amet, 
consectetur adipiscing elit. 
Integer egestas purus bibendum 
neque aliquam ut posuere elit semper. Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae. </p>
			</div></li>
			<li><div class="thumbholder"><img src="images/slideimg1.gif" width="413" height="220" alt="First Image" /></div><div class="txtholder">
            <h2>Modern, Accessible and beautiful Websites and web applications</h2>
            <p>Lorema psum dolor sit amet, 
consectetur adipiscing elit. 
Integer egestas purus bibendum 
neque aliquam ut posuere elit semper. Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae. </p>
			</div></li>
			<li>
			  <div class="thumbholder"><img src="images/slideimg2.gif" width="413" height="220" alt="First Image" /></div><div class="txtholder">
            <h2>Modern, Accessible and beautiful Websites and web applications</h2>
            <p>Lorema psum dolor sit amet, 
consectetur adipiscing elit. 
Integer egestas purus bibendum 
neque aliquam ut posuere elit semper. Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae. </p>
			</div></li>
			<li><div class="thumbholder"><img src="images/slideimg1.gif" width="413" height="220" alt="First Image" /></div><div class="txtholder">
            <h2>Modern, Accessible and beautiful Websites and web applications</h2>
            <p>Lorema psum dolor sit amet, 
consectetur adipiscing elit. 
Integer egestas purus bibendum 
neque aliquam ut posuere elit semper. Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae. </p>
			</div></li>
	
			
		</ul>
	
	<ul class="pagination">
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>

	</ul>	
    </div>
</div>


</header>

