<section id="sidebar">
<h2>Testimonials</h2>
<article class="testimonials">
<blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas purus bibendum neque aliquam ut posuere elit semper. Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae. </p>
<cite>John Doe, New York City</cite>
</blockquote>
<blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas purus bibendum neque aliquam ut posuere elit semper. Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae. </p>
<cite>John Doe, New York City</cite>
</blockquote>
</article>
</section>

