%footer#pagefooter
  #bottom
    .block1
      %h2 Meet The Team
      .teamimg
        / 6 pics here
        .imgthmb
          %img{:src => "images/team1.jpg", :width => "65", :height => "65", :alt => "team"}
    .block2
      %h2 Latest Project
      .projectthmb
        %a{:href => "portfolio"}
          %img{:src => "images/latstproject.jpg", :width => "240", :height => "150", :alt => "project"}

    .block3
      %h2 More About
      %p
        Jeg Er Kreditor er for dem der tør mande sig op og stå ved hvem de er - helt uden frygt!
    .clear
    #credits
      %p
        %span.copyright
          &copy; 2010 | JEK |  All Rights Reserved | CSS Template released by CSSHeaven</span>
        %span#designcredit
          %a{:href => "http://cssheaven.org", :title => "Free CSS Website Template by CSSHeaven"} Website Template by CSSHeaven.org

