%head
  %meta{:charset => "UTF-8"}
  %title Jeg Er Kreditor
  %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}
  = render 'layouts/ie/fix'
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags

