%nav
  %h1#sitename
    %a{:href => "#"} Jeg Er Kreditor
  %ul#sitenav
    %li.current
      %a{:href => "index.html"} Home
    %li
      %a{:href => "services"} Services
    %li
      %a{:href => "about"} About
    %li
      %a{:href => "blog"} Blog
    %li
      %a{:href => "contact"} Contact

